h1 {
  text-align: center;
}

.pie-chart {
  margin: auto !important;
}
.rd3-chart {
  position:relative;
  right: -50%;
  transform: translateX(-50%);
}

.button {
  margin-top: 25px;
  padding: 10px 20px 10px 20px;
}

html {
  background-color: #fbf0cd;
}

body {
  margin: auto;
  margin-top: 50px;
}



.slidecontainer {
margin-top: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(141, 71%, 48%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: hsl(141, 71%, 48%);
    cursor: pointer;
}
